<pre>
    {{objSample}}
</pre>

<h5>Object.create()</h5>
<p>một method được sử dụng để tạo ra một Object mới và dùng object đó để mở rộng hơn cho một object, chúng ta có thể thay đổi gia trị của một properties của Object mới</p>
<hr/>

<h5>Object.key()</h5>
<p>một method dùng để tạo ra một Array với tất cả key của một Object</p>
<code>Output: {{ output[0] }}</code>
<hr/>

<h5>Object.values()</h5>
<p>một method ngược lại với Object.keys() thì nó tạo một new Array với tất cả những giá trị của một object.</p>
<code>Output: {{ output[1] }}</code>
<hr/>

<h5>Object.entries()</h5>
<p>một method tạo một nested array với key/value của một Object</p>
<pre><code>Output: {{ output[2] }}</code></pre>
<hr/>

<h5>Object.assign()</h5>
<p>một method dùng để sao chép những giá trị từ một object này sang một object khác</p>
<pre><code>Output: {{ output[3] }}</code></pre>
<hr/>

<h5>Object.freeze()</h5>
<p>dùng để ngăn chặn một hành vi sử đổi thuộc tính giá trị của một object, ngoài ra cũng có thể ngăn chặn một hành vi như xoá or add thêm thuộc tính</p>
<pre><code>Output: {{ output[4] }}</code></pre>
<hr/>

<h5>Object.seal()</h5>
<p>dùng để ngăn chặn hành vi add thêm một new properties nhưng lại cho phép modification những thuộc tính đã tồn tại trước đó</p>
<pre><code>Output: {{ output[5] }}</code></pre>
