<div class="mb-5">
    <h5 class="text-primary">Pass data from parent to child with input binding</h5>
    <app-hero-parent></app-hero-parent>
    <hr>
    <h5 class="text-primary">Intercept input property changes with a setter</h5>
    <app-name-parent></app-name-parent>
    <hr>
    <h5 class="text-primary">Intercept input property changes with ngOnChanges()</h5>
    <app-version-parent></app-version-parent>
    <hr>
    <h5 class="text-primary">Parent listens for child event</h5>
    <app-votetaker></app-votetaker>
    <hr>
    <h5 class="text-primary">Parent interacts with child using local variable</h5>
    <p>using template variable to access to method and properties of child component (see angular document)</p>
    <hr>
    <h5 class="text-primary">Parent calls an @ViewChild()</h5>
    <app-countdown-parent></app-countdown-parent>
    <hr>

</div>
