<h5>forEach</h5>
<p>một method dùng để tạo ra một Array với tất cả key của một Object</p>
<pre><code>Output: {{ output[0] }}</code></pre>
<hr/>

<h5>includes</h5>
<p>Method này giúp các bạn check sự tồn tại của item nào trong mảng</p>
<pre><code>Output: {{ output[1] }}</code></pre>
<hr/>

<h5>filter</h5>
<p>tạo 1 array mới với điều kiện được thỏa</p>
<pre><code>Output: {{ output[2] }}</code></pre>
<hr/>

<h5>map</h5>
<p>Create a new array after handle values</p>
<pre><code>Output: {{ output[3] }}</code></pre>
<hr/>

<h5>Reduce</h5>
<p>the easiest-to-understand case for reduce() is to return the sum of all the elements in an array</p>
<pre><code>Output: {{ output[4] }}</code></pre>
<hr/>

<h5>Some</h5>
<p>check xem có ít nhất số nào nhỏ hơn 5 ko, ko cần chạy hết array</p>
<pre><code>Output: {{ output[5] }}</code></pre>
<hr/>

<h5>Every</h5>
<p>check all phần tử, nếu thỏa điều kiện hay ko, return boolean</p>
<hr/>

